<h1>Login</h1>
<!-- flash messages -->
  <% flash.each do |name, msg| %>
    <% if name == "error" %>
      <p class="alert-danger">
    <% else %>
      <p class="alert-success">
    <% end %>
      <small> <%= name.capitalize %>: <%= msg %> </small>
    </p>
  <% end %>
<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>