<%= button_to "Add New Movie", '/movies/new', method: :get %>
<% @movies.each do |movie| %> 
<div class="row"> 
	<div class='container'>
	
		<div class="col-md-10 col-md-offset-1 b_right ">
		 <div class='col-md-3'> <img class="movie_poster" src="<%= movie.img_url %>" size="300px">
		 </div>
			<div class='col-md-6 col-md-offset-1 b_center'>

			<p>English Title:<%= link_to "#{movie.e_title}", movie_path(movie.id) %> </p>
			<p>Japanese Title: <%= movie.j_title %></p>

			</div>
		<button>add to watchlist</button>
		
		<%= button_to "New Review", "/movies/#{movie.id}/reviews/new", method: :get %>	
		</div>
		
	</div>
<% end %>

</div>

<div class='b_center'>
	<%= link_to "New Review", '/reviews/new' %>
	
	
</div>	

			  
			