
<% @movies.each do |movie| %>
<div class='container'> 
	<div class="row"> 		
		<div class="col-md-8 col-md-offset-2">
			<div class='panel panel-success'>
			<div class='panel-heading'>Movie info</div>
				<div class='panel-body'>					
					<div class='container'> 
						<div class='col-md-2'>
							<div class='panel panel-success'>
								<div class='panel-body'>
									<img class="movie_poster" src="<%= movie.img_url %>">
										<div class='panel-footer'> 
											<button>add to watchlist</button>
												<%= button_to "New Review", "/movies/#{movie.id}/reviews/new", method: :get,class: "btn btn-default" %>
										</div>
								</div>
							</div>
						</div>
							<div class='col-md-5'>
								<div class='panel panel-success'>
									<div class='panel-body'>
										<p><strong>English Title: </strong><%= link_to "#{movie.e_title}", movie_path(movie.id) %> </p>
										<p><strong>Japanese Title: </strong><%= movie.j_title %></p>
										<p><strong>Synopsis: </strong><%= movie.synopsis %></p>
									</div>
								</div>
							</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>


	

			  
			