

<div class='container'> 
	<div class="row">
		<div class='col-md-10 col-md-offset-1'>
			
			<div class='panel panel-primary'>
					<div class="panel-heading"><%= @user.user_name %></div>
				<div class='panel-body'> 
					<div class="col-md-3">
						<div class='panel panel-primary'>
						  <div class='panel-body'>
							<p><img src="http://placehold.it/125x175"></p>
						  </div>
						</div>
					</div>

					<div class='col-md-3'>
						<div class="panel panel-primary">
							
						  <div class="panel-body"> 
							<p> <strong> welcome: </strong><%= @user.full_name %> </p>
							<p> <strong> created on: </strong><%= @user.created_at.strftime("%b. %d %Y") %> </p>
							<button>edit</button>
							</div>
						</div>
					</div>

					<div class='col-md-5 col-md-offset-1 '>
						<div class="panel panel-primary"> 
							<div class='panel-body'> 
								<p> <strong> About me: </strong><%= @user.about_me %> </p>
								<div id="about_me_box">							
										<%= form_for @user, url: {action: 'update'} do |f| %>
										<%= f.text_area :about_me, class: "about_me_form" %>
										<%= f.submit "Save", class: "btn btn-success" %>
										<% end %>
								</div>								
								<button id="about_me">edit</button>
							</div>	
						</div>	
					</div>
				</div> 
			</div>
		</div>	
	</div>
</div>

<div class="container"> 
	<div class="row"> 
		<div class='col-md-6 col-md-offset-1'> 
			<div class="panel panel-info">			
			  <div class="panel-heading"> Recent Comments</div>
				<div class="panel-body">  
					<% @reviews.each do |review| %>
						<div class='panel panel-info'>
							<div class='panel-body'> 
								<div class='col-md-6'>
								<p><strong>Movie: </strong> <%= link_to "#{review.movie_name}", "/movies/#{review.movie_id}" %></p> 
								<p><strong>Title: </strong> <%= review.title %></p>
								<p><strong>Review: </strong> <%= review.review %></p>
								</div>
							</div>
								

								<div class='panel-footer'> 
								<p><%= button_to 'Edit Review', edit_review_path(review.id), method: :get, class: "btn btn-warning" %><%= button_to 'Delete Review', delete_review_path(review.id), method: :delete, class: "btn btn-danger" %></p>
								</div>
						</div>
					<% end %>
				</div>
					
			</div>
		</div>
	
		
		<div class="col-md-3 col-md-offset-1">	
	 		<div class="panel panel-info">
	 		<div class='panel-heading'> <p> watch list here </p></div>
				<div class="panel-body">				 
					
					<p>not implemented</p>
				</div>
			</div>
		</div>
	</div>
</div>
 
