<div class='b_center'>
	<div class='container'>
	<strong >Edit Your review:</strong></p>
	<%= form_for @review do |f| %>
	  <strong>Title: </strong>
	    <p><%= f.text_field :title, placeholder: "Title" %></p>
	   <strong>Content:</strong>
	    <p><%= f.text_area :review, placeholder: "Review" %></p>
	  <%= f.submit "Save Review" %>
	  <%= button_to "Back", review_path, method: :get %>
	<% end %>
	</div>
<div>