<div class='container'>
	<div class='col-md-8 col-md-offset-2'> 
		<div class="panel panel-warning" >
		<div class="panel-heading">
			Create a New Review:
		</div>
		<div class="centered_block">
		

		<%= form_for @review, url: new_review_path do |f| %>
		<br>
			<p>Movie Title:  <%= f.text_field :movie_name, value: current_movie.e_title %></p>	
		    <p>Review Title: <%= f.text_field :title, placeholder: "Title" %></p>
		    <p><%= f.text_area :review, placeholder: "Review", class: "about_me_form" %></p>
		  <%= f.hidden_field :user_id, value: current_user.id%>
		  <%= f.hidden_field :user_name, value: current_user.user_name%>
		  <%= f.hidden_field :movie_id, value: params[:id]%>
		  <p><%= f.submit "Create Review" %></p>
		<% end %>
		
		</div>
		</div>	
	</div>
</div>		