<!DOCTYPE html>
<html>
<head>
  <title>AniKuma</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id='bar' class="nav nav-tabs">
<li><%= link_to "Home", '/' %></li>
<li><%= link_to "Users", '/users' %></li>
  <% if current_user %>
    <li ><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>   
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "Create Account", new_user_path %></li>
  <% end %>
</ul>



<%= yield %>

</body>
</html>
